@font-face {
    font-family: 56thStreet;
    src: url(../asset/Font/56thStreet-Regular.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');

*{
    padding:0;
    margin:0;
    border:0;
    box-sizing: border-box;
}

body{
    font-family: Roboto;
    color:#5f5f5f;
}
/* Home page */
.header{
    overflow: hidden;
    padding:50px 10px;
    background-color:rgb(246, 248, 245);
    position:sticky;
    top:0px;
    display: flex;
    justify-content: space-between;
}
.square-box{
    background-color:rgb(1, 75, 60);
    width: 40px;
    height:100px;
}

.square-box2{
    background-color:rgb(1, 75, 60);
    width: 40px;
    height:100px;
} 

/* .logo{
    float:left;
} */

.logo img{
    float:left;
    width:400px;
    height:100px;
}

h1 a{
    height: 50px;
    width:50px;
}

#menu-button a:hover {
    border-bottom: 1px solid #1aba22;
}

.active {
    border-bottom: 1px solid #1aba22;
}

.menu-button{
    cursor: pointer;
    padding-right: 70px;
    padding-top: 30px;
}

.menu-button ul{
    align-content: space-between;
    background-color: aquamarine;

}

.menu-button li {
    float: right;
    list-style-type: none;
    padding:10px;
}

.menu-button a{
    text-decoration: none;
    color: black;
}

.main-image{
    background: url('../images/tractor more sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 670px;
    width: 100%;
}

.main-image h1{
    font-size: 60px;
    font-family: 56thStreet,Roboto;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
}